{% extends 'base.html' %}

{% block title %}
GenderVision | Detect
{% endblock %}

{% block content %}
    <form action="{{ url_for('detect') }}" method="POST" enctype="multipart/form-data">
        <label for="upload"> Upload to detect </label>
        <input type="file" id="upload" name="image" required="true">
        <input type="submit" value="upload & predict">
    </form>

    {% if upload %}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img src="./static/uploads/{{ filename }}" class="rounded float-left img-fluid">
                </div>
                <div class="col">
                    <img src="./static/predict/{{ filename_gender }}" class="rounded float-left img-fluid">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}